body {
    background-color: ghostwhite;
}

.container {
    max-width: 500px;
}

form input {
    min-width: 360px;
}

.special-color {
    background-color: rgb(98, 0, 255);
}

input[type="text"] {
    border-top: none !important;
}

.done {
    text-decoration: line-through;
}
